body{
	color: #343a40 !important;
	background: rgb(247, 247, 247) !important;
	 font-family: 'Roboto', sans-serif;
	 font-size: 13.5px;
}
body.color-scheme-dark, .content-panel.color-scheme-dark, body.color-scheme-dark .content-w, .content-panel.color-scheme-dark .content-w,
body.color-scheme-dark:before, .content-panel.color-scheme-dark:before{
	background: rgb(247, 247, 247) !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .css-a3753h-Label, .cb-range-Label, table tr td {
    color: #343a40;
}
ul,span,.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	font-family: 'Roboto', sans-serif;
}

.popup-container {
		background: #141619a3;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1040;
		display: block;
		transition: 0.5s;
		display: flex;
		justify-content: center;
		/*align-items: center; */
		/*border: 1px solid rgba(204, 204, 220, 0.25);*/
		/*color: #d8d9da;*/
	}
	.popup-container a{ 
		color:#818181;
		text-decoration:none;
	}
	.popup-container a:hover{ 
		color: #000;
	}

	.popup-header {
		position: absolute;
		/* min-height: 500px; */
		height: fit-content;
		width: 650px;
		z-index: 1040;
		background: #fff;
	}
	.drawer-header, .drawer-footer {
		/*background:#e9e9e9;*/
		border-bottom: 1px solid #dddddd;
	}
	.drawer-header, .drawer-footer {
		position: relative;
		padding: 30px;
		/*box-shadow: 0px 1px 4px rgb(0 0 0 / 10%), 0px 2px 8px rgb(0 0 0 / 10%), 0px 0px 4px rgb(0 0 0 / 6%);*/
		z-index: 2;
	}
	.drawer-footer{
		padding: 12px;
		display: flex;
		justify-content: flex-end;
		border-top: 1px solid #dddddd
	}
	.drawer-title-wrapper {
		display: flex;
		align-items: center;
	}
	.drawer-title {
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
	}
	.drawer-title {
		text-transform: uppercase;
	}

	.drawer-body {
		flex: 1;
		padding: 0;
		overflow: hidden;
		position: relative;
		padding: 30px;
	}
	.cb-cursor{
		cursor: pointer;
	}
	.top-header{
		border: 1px solid #dddddd;
		background: #e9e9e9;
	}
	.scroll {
		white-space: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar; }
		.logo, .nav-item, .vertical-align-middle {
			display: inline-block;
			vertical-align: middle;
		}
		.nav-item:not(:last-child) {
			border-right: 1px solid rgba(114, 124, 135, 0.2);
		}
		.logo, .nav-item, .vertical-align-middle {
			display: inline-block;
			vertical-align: middle;
		}


		.table_center{
			display:table-cell;
			vertical-align: middle;
		}
		.drop-down{
			display: inline-block;
			position: relative;
			margin-bottom: 0;
		}

		.drop-down__button{
			/*background: linear-gradient(to right,#3d6def, #8FADFE);*/
			display: inline-block;
			line-height: 50px;
			padding: 0 5px;
			text-align: left;
			/* border-radius: 4px;*/
			/* box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);*/
			cursor: pointer;
			color: #343a40;
		}

		.drop-down__name {
			font-size: 9px;
			text-transform: uppercase;
			color: #fff;
			font-weight: 800;
			letter-spacing: 2px;
		}

		.drop-down__icon {
			width: 18px;
			vertical-align: middle;
			margin-left: 14px;
			height: 18px;
			border-radius: 50%;
			transition: all 0.4s;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;

		}



		.drop-down__menu-box {
			position: absolute;
			width: 350px;
			right: 0;
			/*background-color: #fff;*/
			background-color: #141619;
			/*border-radius: 4px;*/
			box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			visibility: hidden;
			opacity: 0;
			/*margin-top: 5px;*/
			max-height: 500px;
			overflow-y: auto;
			z-index: 1;
		}

		.drop-down__menu {
			margin: 0;
			padding: 0 13px;
			list-style: none;

		}
		/*.drop-down__menu-box:before{
			content:'';
			background-color: transparent;
			border-right: 8px solid transparent;
			position: absolute;
			border-left: 8px solid transparent;
			border-bottom: 8px solid #e9e9e9;
			border-top: 8px solid transparent;
			top: -8px;
			right: 18px;

		}*/

		/*.drop-down__menu-box:after{
			content:'';
			background-color: transparent;
		}*/

		.drop-down__item {
			font-size: 13px;
			padding: 13px 0;
			text-align: left;
			font-weight: 500;
			/*color: #909dc2;*/
			color: #fff;
			cursor: pointer;
			position: relative;
			border-bottom: 1px solid rgba(204, 204, 220, 0.15);
		}

		.drop-down__item-icon {
			width: 15px;
			height: 15px;
			position: absolute;
			right: 0px;
			fill: #8995b6;

		}

		.drop-down__item:hover .drop-down__item-icon{
			fill: #3d6def;
		}

		.drop-down__item:hover{
			color: #d8d9da;
		}



		.drop-down__item:last-of-type{
			border-bottom: 0;
		}


		.drop-down--active .drop-down__menu-box{
			visibility: visible;
			opacity: 1;
			/*margin-top: 7px;*/
		}

		.drop-down__item:before{
			content:'';
			position: absolute;
			width: 3px;
			height: 28px;
			background-color: #007fff;
			left: -13px;
			top: 50%;
			transform: translateY(-50%);
			display:none;
		}

		.drop-down__item:hover:before{
			display:block;
		}
		.sidenav {
			height: 100%; /* 100% Full-height */
			width: 0; /* 0 width - change this with JavaScript */
			position: fixed; /* Stay in place */
			z-index: 999; /* Stay on top */
			top: 0;
			background-color: #fff; /* Black*/
			border: 1px solid #ccc;
			overflow-x: hidden; /* Disable horizontal scroll */
			padding-top: 10px; /* Place content 60px from the top */
			transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		}

		/* The navigation menu links */
		.sidenav a {
			padding: 5px 4px 5px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s
		}

		/* When you mouse over the navigation links, change their color */
		.sidenav a:hover, .offcanvas a:focus{
			color: #000;
		}

		/* Position and style the close button (top right corner) */
		.sidenav .closebtn {
			position: absolute;
			top: 0;
			right: 21px;
    font-size: 27px;
			margin-left: 50px;
			z-index:1;
		}

		/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
		#main {
			transition: margin-left .5s;
			padding: 20px;
		}
		.sidenav {
			right: 0;
		}
		/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
		@media screen and (max-height: 450px) {
			.sidenav {padding-top: 15px;}
			.sidenav a {font-size: 18px;}
		}
		.sidenav {
			right: 0;
		}

		/*header css*/
		.header-class{
			position: relative;
    z-index: 1;
    background-color: #181b1f;
    color: #ffffff;
    height: 40px;
		}
		.logo-section{
			margin-left: 10px;
		}
		.logo-section img{
			display: inline-block;
    max-width: 30px;
    text-align: center;

		}
/*		ul.ui-tabs-nav{
			 
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
		}
		ul.ui-tabs-nav li span {
    display: inline;
    position: absolute;
    right: 2px;
    top: 7px;
}*/
::placeholder {
  color: #636c72;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #636c72;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #636c72;
}
.form-control{  
    display: block;
    width: 100%;    
    font-size: 12px;
    height: 32px;
    padding: 0 8px;
    line-height: 1.5;
    font-weight:400;
    color: #343a40 !important;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.cb-input-css .form-control:hover{
	border-color: #047bf8 !important;
}
.form-control:focus {
    border: 1px solid #047bf8 !important;
    box-shadow: none;
}
.cb-range-form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.cb-range-Label{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0px 0px 4px;
    padding: 0px 0px 0px 2px;
   color: #343a40;
   /*max-width: 270px;*/
}
.cb-range-text{   
   display: flex;
    -webkit-box-align: center;
    align-items: center;

}
.cb-input-css{
    display: flex;
    width: 100%;
    /* height: 32px; */
    border-radius: 2px;
}
.width{
	width: 292px;
}

/*----css radio---*/
.css-radio{
    display: flex;
    flex-flow: row nowrap;
}
.css-iwo4qd {
    display: inline-block;
    position: relative;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    color: #222;
    padding: 0px 16px;
    margin-left: -1px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background:#fff;
    cursor: pointer;
    z-index: 1;
    flex: 0 0 auto;
    text-align: center;
    user-select: none;
}
.css-1kd3qvh {
    position: absolute;
    opacity: 0;
    z-index: -1000;
}
.css-1kd3qvh:checked + label {
    border: 1px solid #ccc;
    color: #222;
    background: #ccc;
    z-index: 3;
}
.css-radio label:first-of-type {
    border-radius: 2px 0px 0px 2px;
}

.width{
	width: 292px;
}

.overflow{
	overflow: hidden;
}
span.cb-tab-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50px;
}
.cb-toggle-button{
	z-index: 9999;
    position: fixed;
    bottom: 10px;
    left: 42px;
    background: #252A32;
    border-radius: 75px;
    color: #fff;
    padding: 7px 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 1.08rem;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.cb-menu-inline{
	overflow: auto;
    white-space: nowrap;
}
.cb-menu-inline ul, ul.cb-dashboard-tab li {
    display: inline-block;
}

.cb-top-menu{
	display: flex;
    /* border: 1px solid #dddddd; */
    background: rgb(255, 255, 255);
    color: #333333;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 0 15px;
}

ul.ui-tabs-nav{
	width: 50%;
    display: inline-flex;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
    align-items: center;
}
.cb-cross-btn{
	position: absolute;
    top: 8px;
    right: 4px;
        font-size: 12px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* max-width: 80px; */
           margin-right: 26px;
}
.cb-btn-panel{
	display: flex;
    justify-content: center;
    align-items: center;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
 
    background: #047bf8;
}
.cb-control-label p{
	margin-bottom: 0;
}

.cb-control-label .text-info { display:inline-block; }

.chart-label-text,.label-text{
	color: #343a40;
}
.cb-save-filter{
    position: relative;
    bottom: 0;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-in {
  z-index: 10; /* to position it in front of the other content */
  position: absolute;
  bottom:-17px;
}

.slide-in.from-left {
  left: 0;
}

.slide-in.from-right {
  left: 0;
}

.slide-in-content {
 
   /* padding: 20px;*/
   
  transition: transform .5s ease; /* our nice transition */
     width: 250px;
}

.slide-in.from-left .slide-in-content {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in.from-right .slide-in-content {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
.cb-content-div {
    position: fixed;
    bottom: 11px;
    left: 0;
    z-index: 1;
}
.cb-toggle-button i{
	    top: 14px;
    font-size: 12px;
    position: absolute;
    right: 5px;
}
  .grid-stack-item-content{
  background-color: #fff !important;
    /* border: 1px solid #c5c5c5; */
    /* box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%); */
    /* box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%); */
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
  .chart-title {
    text-transform: capitalize;
}
.cb-edit-dashname.cb-cursor {
    position: absolute;
    right: 18px;
    top: 8px;
    font-size: 12px;
}
ul.chart-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 8px;
    line-height: 28px;
    
     
}
ul.chart-list li i{
	margin-right: 7px;
}
.chart-list{
max-height:650px;
overflow:auto;
overflow-x:hidden;
}

/*02/11/2022*/
span.DataMapping_column-title__2yLXi, .text-ecllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cb-select-div .dropzonefilter .DataMapping_column-title__2yLXi {
    display: inline-flex;
    max-width: 100px;
}
.DataMapping_column-title__2yLXi{
	    margin-top: 2px;
}
.xicon.delete{
	font-size:13px;
	/* position: absolute;
    right: 8px;
    top: 56px; */
}
.dropzoneselect{
	position:relative;
}
.tabfilter{
    border: 1px solid rgba(204, 204, 220, 0.25);
    margin-bottom: 20px;
    padding: 5px;
    background:rgb(247, 247, 247);
}
#tabs{
	padding:0;
	border:0;
}
.ui-widget-header{
	background: rgb(255, 255, 255);
}
.ui-tabs .ui-tabs-panel{
	padding:0 9px;
	background: rgb(247, 247, 247);
}
.dash-name{
	display: inline-block;
    color: #d8d9da;
    font-size: 22px;
    font-weight: 400;
}
.dropbtn {
			/* background-color: #3498DB; */
			color: #666;
   /*  padding: 7px; */
    font-size: 17px;
			border: none;
			cursor: pointer;
		}

		.dropbtn:hover, .dropbtn:focus {
			background-color: #e6e6e6;
		}

		.dropdown {
			position: relative;
			display: inline-block;
			margin-top: -1px;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #fff;
			min-width: 160px;
			left: -130px;
			text-align:left;
			overflow: auto;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		.dropdown-content a {
			color: black;
			padding: 5px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown a:hover {background-color: rgb(51, 92, 173);color:#fff;}

		.show {display: block;}
		
		.slice-control{
		position: absolute;
    right: 41px;
    top: 19px;
    z-index: 1;
		}
		.header-title{
		    position: absolute;
    top: 18px;
    z-index: 1;
		}
		.header-title .chart-label-text{
			    font-size: 14px;
    font-weight: 500;
		}
		
	.highcharts-credits {
    display: none;
}	
.highcharts-title, .grid-stack-item-content .box-css .text-dark{
	visibility:hidden;
}
.singlevalue{
	    margin-top: 30px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc !important;
}
  .form-control{
  border: 1px solid #ccc !important;
  }
  .filter-class{
      position: absolute;
     font-size: 16px;
    font-weight: 500;
      
  }
  .box-css1{
  padding:50px;
  background:#FFF;
  margin-top:20px;
  }
  
  table tbody .odd, table tbody .even {
    background: none !important; 
    
}
table tr td, body.color-scheme-dark div.dataTables_wrapper div.dataTables_info, 
.content-panel.color-scheme-dark div.dataTables_wrapper div.dataTables_info, .dataTables_filter label {
	color:#333;
}

::-webkit-scrollbar-thumb {
    background: #f6f6f6 !important;
    -webkit-box-shadow: inset 0 0 6px rgb(246 246 246);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #f6f6f6 !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
.css-iwo4qd {
    display: inline-block;
    position: relative;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    color: #6c757d;
    padding: 0px 16px;
    margin-left: -1px;
    border-radius: 2px;
    border: 1px solid #adb5bd;
    background: rgb(248 249 250);
    cursor: pointer;
    z-index: 1;
    flex: 0 0 auto;
    text-align: center;
    user-select: none;
}
.css-1kd3qvh:checked + label {
    border: 1px solid #adb5bd;
    color: #343a40;
    background: rgb(233 236 239);
    z-index: 3;
}
.cb-focus input:focus + label, .cb-focus:focus + span {
    box-shadow: none;
}
.cb-basic-height {
    max-height: 245px;
    overflow-y: auto;
    overflow-x: hidden;
}
.css-a2zrvp {
    background: #fff;
}

table tbody .even, table tr th {
    background: #e6e8ea !important;
    border-right: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {   
    border: 1px solid rgb(204, 204, 220) !important;
    BACKGROUND: #e6e8ea !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.active, .dataTables_wrapper .dataTables_paginate .paginate_button.active:hover {
   
    border: 1px solid rgb(204, 204, 220) !important;
    background: linear-gradient(to bottom, #dee2e6 0%, #dee2e6 100%) !important;
}
button.dt-button {
    background: #e6e8ea;
    color: #333;
}
.visibility-class{
	visibility:visible;
}
.visibility-classremove{
	visibility:hidden;
}